[Unit]
Description={{ wso2_app }} init script
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=65535
Type=forking
User=root

Environment=JAVA_HOME={{ JAVA_HOME }}
Environment=JAVA_OPTS=

PID_FILE={{ ei_home }}/wso2carbon.pid
ExecStart={{ ei_home }}/bin/integrator.sh portOffset={{wso2_app_offset}} start
ExecStop={{ ei_home }}/bin/integrator.sh portOffset={{wso2_app_offset}} stop
ExecRestart={{ ei_home }}/bin/integrator.sh portOffset={{wso2_app_offset}} restart
TimeoutSec=120

[Install]
WantedBy=multi-user.target
